# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

In [2]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

### Step 3. Assign it to a variable called iris

In [3]:
iris = pd.read_csv(url, header=None)

### Step 4. Create columns for the dataset

In [4]:
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

### Step 5.  Is there any missing value in the dataframe?

In [5]:
missing_values = iris.isnull().sum().sum()
print("missing values in the dataset?", missing_values > 0)

missing values in the dataset? False

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [6]:
iris.loc[10:29, 'petal_length'] = None

### Step 7. Good, now lets substitute the NaN values to 1.0

In [7]:
iris['petal_length'].fillna(1.0, inplace=True)

### Step 8. Now let's delete the column class

In [8]:
iris.drop(columns=['class'], inplace=True)

### Step 9.  Set the first 3 rows as NaN

In [9]:
iris.loc[:2] = None

### Step 10.  Delete the rows that have NaN

In [10]:
iris.dropna(axis=0, inplace=True)

### Step 11. Reset the index so it begins with 0 again

In [11]:
iris.reset_index(drop=True, inplace=True)

### BONUS: Create your own question and answer it.

In [14]:
#What is the mean sepal length dataset?

mean = iris['sepal_length'].mean()
print(mean)

5.862585034013605