# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [9]:
import pandas as pd
import random

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [4]:
cars1_url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
cars2_url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"

   ### Step 3. Assign each to a variable called cars1 and cars2

In [5]:
cars1 = pd.read_csv(cars1_url)
cars2 = pd.read_csv(cars2_url)

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [ ]:
cars1 = cars1.loc[:, "mpg":"car"]

### Step 5. What is the number of observations in each dataset?

In [6]:
observations_cars1 = cars1.shape[0]
observations_cars2 = cars2.shape[0]
print("Number of Observations cars1 = ",observations_cars1)
print("Number of Observations cars2 = ",observations_cars2)

Number of Observations cars1 =  198
Number of Observations cars2 =  200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [7]:
cars = pd.concat([cars1, cars2], ignore_index=True)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [10]:
owners = pd.Series([random.randint(15000, 73000) for _ in range(len(cars))], name='owners')

### Step 8. Add the column owners to cars

In [11]:
cars['owners'] = owners
print("DataFramewith owners : ")
print(cars)

DataFramewith owners :
      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
393  27.0          4           140         86    2790          15.6     82
394  44.0          4            97         52    2130          24.6     82
395  32.0          4           135         84    2295          11.6     82
396  28.0          4           120         79    2625          18.6     82
397  31.0          4           119         82    2720          19.4     82

     origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0         1  chevrolet chevelle malibu         NaN          NaN          NaN
1         1          buick skylark 320         NaN          NaN          NaN
2         1         plymouth satellite         NaN          NaN          NaN
3         1              amc rebel sst         NaN          NaN          NaN
4         1                ford torino         NaN          NaN          NaN
..      ...                        ...         ...          ...          ...
393       1            ford mustang gl         NaN          NaN          NaN
394       2                  vw pickup         NaN          NaN          NaN
395       1              dodge rampage         NaN          NaN          NaN
396       1                ford ranger         NaN          NaN          NaN
397       1                 chevy s-10         NaN          NaN          NaN

     Unnamed: 12  Unnamed: 13  owners
0            NaN          NaN   41476
1            NaN          NaN   37040
2            NaN          NaN   27364
3            NaN          NaN   39687
4            NaN          NaN   21319
..           ...          ...     ...
393          NaN          NaN   19088
394          NaN          NaN   69329
395          NaN          NaN   18694
396          NaN          NaN   26785
397          NaN          NaN   45105

[398 rows x 15 columns]