# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create the DataFrame with the following values:

In [2]:
raw_data = {
    'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
    'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd'],
    'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'],
    'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
    'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]
}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [3]:
regiment = pd.DataFrame(raw_data)

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [4]:
mean_preTestScore = regiment[regiment['regiment'] == 'Nighthawks']['preTestScore'].mean()
print("Mean preTestScore = ",mean_preTestScore)

Mean preTestScore =  15.25

### Step 5. Present general statistics by company

In [5]:
company_statistics = regiment.groupby('company').describe()
print("Statistics by Company = ",company_statistics)

Statistics by Company =          preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

### Step 6. What is the mean of each company's preTestScore?

In [6]:
mean_preTestScore_company = regiment.groupby('company')['preTestScore'].mean()
print("Mean preTestScore by Company = ",mean_preTestScore_company)

Mean preTestScore by Company =  company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

### Step 7. Present the mean preTestScores grouped by regiment and company

In [8]:
mean_preTestScores_regiment_company = regiment.groupby(['regiment', 'company'])['preTestScore'].mean()
print("Mean Regiment and Company = ",mean_preTestScores_regiment_company)

Mean Regiment and Company =  regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [10]:
mean_preTestScores_company_reset = mean_preTestScores_regiment_company.reset_index()
print("Mean preTestScores Regiment and Company without hierarchical = ",mean_preTestScores_company_reset)

Mean preTestScores Regiment and Company without hierarchical =       regiment company  preTestScore
0    Dragoons     1st           3.5
1    Dragoons     2nd          27.5
2  Nighthawks     1st          14.0
3  Nighthawks     2nd          16.5
4      Scouts     1st           2.5
5      Scouts     2nd           2.5

### Step 9. Group the entire dataframe by regiment and company

In [12]:
grouped_data = regiment.groupby(['regiment', 'company'])

### Step 10. What is the number of observations in each regiment and company

In [15]:
obscounts = grouped_data.size()
print("Number of Observations Regiment,Company = ",obscounts)

Number of Observations Regiment,Company =  regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [16]:
for name, group in grouped_data:
    print(f"\nRegiment and Company: {name}")
    print(group)

Regiment and Company: ('Dragoons', '1st')
   regiment company   name  preTestScore  postTestScore
4  Dragoons     1st  Cooze             3             70
5  Dragoons     1st  Jacon             4             25

Regiment and Company: ('Dragoons', '2nd')
   regiment company    name  preTestScore  postTestScore
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57

Regiment and Company: ('Nighthawks', '1st')
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94

Regiment and Company: ('Nighthawks', '2nd')
     regiment company    name  preTestScore  postTestScore
2  Nighthawks     2nd     Ali            31             57
3  Nighthawks     2nd  Milner             2             62

Regiment and Company: ('Scouts', '1st')
  regiment company   name  preTestScore  postTestScore
8   Scouts     1st  Sloan             2             62
9   Scouts     1st  Piger             3             70

Regiment and Company: ('Scouts', '2nd')
   regiment company   name  preTestScore  postTestScore
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70