# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [20]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

In [21]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv"

### Step 3. Assign it to a variable called baby_names.

In [22]:
baby_names = pd.read_csv(url)

### Step 4. See the first 10 entries

In [24]:
print("First 10 Entries")
print(baby_names.head(10))

First 10 Entries
   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [25]:
baby_names = baby_names.drop(['Unnamed: 0', 'Id'], axis=1)

### Step 6. Is there more male or female names in the dataset?

In [27]:
male_count = baby_names[baby_names['Gender'] == 'M']['Name'].count()
female_count = baby_names[baby_names['Gender'] == 'F']['Name'].count()
if male_count > female_count:
    gender_with_more_names = 'Male'
else:
    gender_with_more_names = 'Female'
print("There are more", gender_with_more_names)

There are more Female

### Step 7. Group the dataset by name and assign to names

In [38]:
names = baby_names.groupby('Name')['Count'].sum()
print(names)

Name
Aaban        12
Aadan        23
Aadarsh       5
Aaden      3426
Aadhav        6
           ...
Zyra         42
Zyrah        11
Zyren         6
Zyria        59
Zyriah       58
Name: Count, Length: 17632, dtype: int64

### Step 8. How many different names exist in the dataset?

In [29]:
different_names_count = names.shape[0]
print("Different Names:", different_names_count)

Step 8: Number of Different Names in the Dataset: 17632

### Step 9. What is the name with most occurrences?

In [31]:
most_occurrences_name = names['Count'].idxmax()
most_occurrences_count = names['Count'].max()
print("Name with Most Occurrences:", most_occurrences_name, "with", most_occurrences_count)

Name with Most Occurrences: Jacob with 242874

### Step 10. How many different names have the least occurrences?

In [32]:
least_occurrences_count = names['Count'].min()
least_occurrences_names_count = (names['Count'] == least_occurrences_count).sum()
print("Number of Different Names with Least Occurrences (", least_occurrences_count, "):", least_occurrences_names_count)

Number of Different Names with Least Occurrences ( 5 ): 2578

### Step 11. What is the median name occurrence?

In [33]:
median_name_occurrence = names['Count'].median()
print("Median Name Occurrence:", median_name_occurrence)

Median Name Occurrence: 49.0

### Step 12. What is the standard deviation of names?

In [35]:
std_name_occurrence = names['Count'].std()
print("Standard Deviation of Name Occurrences:", std_name_occurrence)

Standard Deviation of Name Occurrences: 11006.069467891111

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [36]:
name_occurrence_summary = names['Count'].describe()
print(name_occurrence_summary)

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64