# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
intial_url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [7]:
chipo = pd.read_csv(intial_url, sep='\t')

### Step 4. See the first 10 entries

In [9]:
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [12]:
# Solution 1
number_observations = chipo.shape[0]
print("Number of observations is = ", number_observations)

Number of observations is =  4622

In [14]:
# Solution 2
another = len(chipo)
print("Number of observations with another way = ", another)

Number of observations with another way =  4622

### Step 6. What is the number of columns in the dataset?

In [15]:
number_column = chipo.shape[1]
print("Number of column is = ", number_column)

Number of column is =  5

### Step 7. Print the name of all the columns.

In [17]:
all_column = chipo.columns
print("Column names = ", all_column)

Column names =  Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [18]:
dataset_index = chipo.index
print("Dataset index = ", dataset_index)

Dataset index =  RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [19]:
item_read = chipo.groupby('item_name')['quantity'].sum()
most_ordered = item_read.idxmax()
print("The most-ordered item is = ", most_ordered)

The most-ordered item is =  Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [23]:
most_ordered_item = item_read.idxmax()
quantity_ordered = item_read.max()
print("the most-ordered item = ", quantity_ordered)

the most-ordered item =  761

### Step 11. What was the most ordered item in the choice_description column?

In [26]:
choice_quantity = chipo.groupby('choice_description')['quantity'].sum()
most_choice = choice_quantity.idxmax()
print("The most ordered choice description is = ", most_choice)

The most ordered choice description is =  [Diet Coke]

### Step 12. How many items were orderd in total?

In [27]:
total_ordered = chipo['quantity'].sum()
print("Total ordered is = ", total_ordered)

Total ordered is =  4972

### Step 13. Turn the item price into a float

In [34]:
# Convert 'item_price' to string, remove the dollar sign, and convert to float
chipo['item_price'] = chipo['item_price'].astype(str).str.replace('$', '').astype(float)

C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_3784\3050636919.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo['item_price'].astype(str).str.replace('$', '').astype(float)

#### Step 13.a. Check the item price type

In [35]:
item_type = chipo['item_price'].dtype
print("The data type is:", item_type)

The data type is: float64

#### Step 13.b. Create a lambda function and change the type of item price

In [36]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x))

#### Step 13.c. Check the item price type

In [37]:
item_type = chipo['item_price'].dtype
print("The data type is:", item_type)

The data type is: float64

### Step 14. How much was the revenue for the period in the dataset?

In [38]:
# Calculate the revenue for each item and sum it up
revenue = (chipo['item_price'] * chipo['quantity']).sum()
print("total = ", revenue)

total =  39237.02

### Step 15. How many orders were made in the period?

In [40]:
# Count the number of unique order IDs
num_order = chipo['order_id'].nunique()
print("The number of orders = ", num_order)

The number of orders =  1834

### Step 16. What is the average revenue amount per order?

In [42]:
# Solution 1
average = revenue / num_order
print("The average revenue = ", average)

The average revenue =  21.39423118865867

In [45]:
# Solution 2
order_revenue = chipo.groupby('order_id')['item_price'].sum()
average_another = order_revenue.mean()
print("The average revenue another way = ", average_another)

The average revenue another way =  18.811428571428568

### Step 17. How many different items are sold?

In [46]:
different_items = chipo['item_name'].nunique()
print("The number = :", different_items)

The number = : 50